<nav class="navbar navbar-white bg-white map-top">
    <div class="container-fluid justify-content-center align-text-middle">
      <a class="navbar-brand align-text-middle" href="#">
        <img src="../assets/google-maps-digitalizatec1.png" alt="" height="30" class="d-inline-block align-text-middle me-2">
        Routes Control
      </a>
    </div>
</nav>
<div class="map-body bg-light pt-5">
    <div class="container body-map">
        <div *ngIf="map_control == false" class="row my-5 map-container bg-secondary" style="--bs-bg-opacity: .3;">
            <div class="col-md-12 fs-5 fw-bold text-secondary text-center d-flex justify-content-center align-items-center h-100" (click)="selectFile()">
                <p class="lh-base">&#9432; No se han insertado puntos de Geolocalizacion para rasteo. <br> Click aqui para seleccionar un archivo de carga.</p>
            </div>
        </div>
        <div *ngIf="map_control == true" class="row my-5 map-container">
            <google-map
                #myGoogleMap
                height="100%"
                width="100%"
                [center]="center">
                    <map-marker
                        #markerElem="mapMarker"
                        *ngFor="let marker of markers"
                        [position]="marker.position"
                        [title]="marker.title"
                        [options]="marker.options"
                        (mapClick)="openInfo(markerElem, marker)">
                    </map-marker>
                    <map-info-window>
                        <div class="" *ngIf="dynamic_marker != null">
                            <p class="fs-5 fw-semibold">{{dynamic_marker.title}}</p>
                            <p class="fs-6 fst-italic">
                            Latitud: {{dynamic_marker.position.lat}}<br>
                            Longitud: {{dynamic_marker.position.lng}}<br>
                        </div>
                    </map-info-window>
            </google-map>
        </div>
        <div class="row my-5" *ngIf="map_control == true">
            <button type="button" class="btn btn-outline-secondary" (click)="selectFile()">
                Cargar otra lista...
            </button>
        </div>
        
    </div>
</div>